<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Viz Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/controlWin.css">
    <script src="../static/controlWin.js" defer></script>
</head>
<body>
    <div class="container">
        <div id="preset-list">
            <input type="search" placeholder="Loading presets...">
        </div>
        <div id="options">
            <div class="list">
                <label>
                    <input type="checkbox" id="check-auto-scroll-current">
                    Auto scroll to current preset
                </label>
                <label>
                    <input type="checkbox" id="check-auto-select-current">
                    Auto select current preset
                </label>
            </div>
            <hr/>
            <label>
                Selected Preset: <span>None selected</span><br/>
                <button id="button-selected-preset-switch" disabled>Switch</button>
                <button id="button-selected-preset-exclude" disabled>Exclude</button>
                <button id="button-selected-preset-include" disabled>Include</button>
                <button id="button-selected-preset-clear" disabled>Clear</button>
                <input type="text" id="input-selected-preset" readonly>
            </label>
            <hr/>
            <div class="button-holder">
                <button id="button-preset-next">Next Preset</button>
            </div>
            <hr/>
            <div class="list">
                <label>
                    <input type="checkbox" id="check-auto-switch">
                    Auto switch preset
                </label>
                <label>
                    <input type="checkbox" id="check-auto-switch-random">
                    Auto switch preset randomly
                </label>
                <label>
                    <input type="checkbox" id="check-auto-switch-weighted-random">
                    Auto switch preset weighted randomly
                </label>
                <label>
                    <input type="checkbox" id="check-auto-switch-penalize">
                    Penalize last preset
                </label>
                <label>
                    Cycle Time (ms):
                    <input type="number" value="7500" id="input-cycle-time">
                </label>
                <label>
                    Preset blend time (s):
                    <input type="number" value="3" id="input-blend-time">
                </label>
            </div>
            <hr/>
            <div>
                <textarea id="text-overlay" style="width: 100%; height: 50px;" placeholder="Overlay Text Input"></textarea>
                <label>
                    Visibility Duration (ms):
                    <input type="range" value="3000" min="1000" max="10000" step="1000" id="input-overlay-duration">
                    <span></span>
                </label><br/>
                <button id="button-overlay">Set Overlay</button>
            </div>
            <hr/>
            <div class="button-holder" id="overlay-sample-holder">
                <template>
                    <button></button>
                    <input type="file">
                </template>
            </div>
        </div>
    </div>
</body>
</html>